<div class="container">
 
<h2> Authors </h2>
 
<table border="1" class="table">
 
<tr>
   <th> Authors First Name </th>
   <th> Authors Last Name </th>
   <th> Bio </th>
 
 
</tr>
 
<% @author.each do |author| %>
 
<tr>
<td> <%= author.fname %> </td>
<td> <%= author.lname%> </td>
<td> <%= author.bio %> </td>

 
 
<td> <%= link_to 'Author Page', author_path(author) %> </td>
</tr>
 
<% end %>
 
</table>
 
</div>

